html{
    font-size: 20px;
    background-color: #070818;
    color: #F2F3FE;
    font-family: 'sans-serif';
    line-height: 2.0;
    width: 80%;
    max-width: 1280px;
    }

p{
    text-indent: 1em;
}

h1{
    text-align: center;
    font-size: 1.8rem;
}

h2{
    text-align: center;
    font-size: 1.4rem;
}

h3{
    text-align: center;
    font-size: 1.2rem;
}

a{
    color: #45C4B0;
}

#zen-intro header{
    text-align: center;
    background-color: #45C4B0;
    color:#070818;
}

#zen-intro header h1, #zen-intro header h2{
    display: inline-block;

}

#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}

.summary{
    text-align: center;
    line-height: 1.5rem;
}

.main p{
    text-align: center;
    line-height: 1.5rem;
}

abbr{
    font-variant: small-caps;
}

#design-archives{
    display: none;
}

aside ul{
    list-style-type: none;
}

aside ul li{
    margin: 1em;
    text-align: center;
}

.main footer{
    margin: 4%;
}

.main footer a{
    border: solid 2px #45C4B0;
    padding: 0.5em;
    display: inline-block;
}

.page-wrapper{
    position: relative;
}

.explanation{
    border-right: solid 1px #1f295c;
    width: 60%;
    margin-right: 35%;
    padding-right: 2% ;
}

.design-selection{
    position: absolute;
    top: 560px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}